<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">เพิ่มข้อสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-multi-choice/0/0']" routerLinkActive="active">ข้อสอบแบบเลือกตอบ<br />(Multiple Choice)</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-attitude/0/0']" routerLinkActive="active">ข้อสอบแบบวัดทัศนคติ<br />(Attitude)</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-read-text-multi-choice/0/0']" routerLinkActive="active">ข้อสอบแบบเลือกตอบประกอบบทความ<br />(Reading Text And Multiple Choice)</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-tf/0/0']" routerLinkActive="active">ข้อสอบแบบถูก-ผิด<br />(True-False)</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-multi-math/0']" routerLinkActive="active">ข้อสอบแบบจับคู่<br />(Multiple Matching)</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-short-ans/0/0']" routerLinkActive="active">ข้อสอบแบบตอบสั้น<br />(Short Answer)</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-eassy/0/0']" routerLinkActive="active">ข้อสอบอัตนัยหรือเรียงความ<br />(Essay)</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary btn-block" href="#" [routerLink]="['/question-assigment/0/0']" routerLinkActive="active">ข้อสอบแบบส่งงาน<br />(Assignment)</a>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

