<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label">ไฟล์วีดีโอ</label>
              <div class="col-sm-10">
                <a href="#" class="btn btn-gray" (click)="OnDownloadVideo()">
                  ดาวน์โหลด
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label">ไฟล์เสียง</label>
              <div class="col-sm-10">
                <a href="#" class="btn btn-gray" (click)="OnDownloadAudio()">
                  ดาวน์โหลด
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label">ไฟล์ข้อสอบ</label>
              <div class="col-sm-10">
                <a href="#" class="btn btn-gray" (click)="OnDownloadQuestion01()">
                  TU01
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadQuestion02()">
                  TU02
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadQuestion03()">
                  TU03
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadQuestion04()">
                  TU04
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadQuestion05()">
                  TU05
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadQuestion06()">
                  TU06
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label">ไฟล์ลงทะเบียนสอบ</label>
              <div class="col-sm-10">
                <a href="#" class="btn btn-gray" (click)="OnDownloadRegister()">
                  ดาวน์โหลด
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label">ไฟล์นำเข้านักศึกษา</label>
              <div class="col-sm-10">
                <a href="#" class="btn btn-gray" (click)="OnDownloadStudent01()">
                  TU01
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadStudent02()">
                  TU02
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadStudent03()">
                  TU03
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadStudent04()">
                  TU04
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadStudent05()">
                  TU05
                </a>
                <a href="#" class="btn btn-gray" (click)="OnDownloadStudent06()">
                  TU06
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>






