<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">เจ้าหน้าที่</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">การค้นหา</h3>
        <div class="panel-options">
        </div>
      </div>
      <div class="panel-body">
        <form role="form" [formGroup]="SearchFrom" (ngSubmit)="OnSubmit()">
          <div class="row">

            <div class="form-group">
              <div class="col-sm-5">
                <label class="control-label">ค้นหาจาก</label>
                <input type="text" class="form-control" id="text_search" name="text_search" formControlName="text_search" placeholder="ชื่อ นามสกุล รหัสประจำตัวประชาชน อีเมล เบอร์โทร">
              </div>
              <div class="col-sm-4">
                <label class="control-label">สิทธิ์การเข้าถึงระบบ</label>
                <select class="form-control" id="role_search" name="role_search" formControlName="role_search">
                  <option></option>
                  <option *ngFor="let item of rolelist" value="{{item.value}}">{{item.text}}</option>
                </select>
              </div>
              <div class="col-sm-2">
                <label class="control-label">สถานะ</label>
                <select class="form-control" id="status_search" name="status_search" formControlName="status_search">
                  <option></option>
                  <option *ngFor="let item of statuslist" value="{{item.value}}">{{item.text}}</option>
                </select>
              </div>

              <div class="col-sm-1">
                <button class="btn btn-blue btn-search btn-block" type="submit">
                  ค้นหา
                </button>
              </div>
            </div>

          </div>

        </form>

      </div>
    </div>

  </div>


</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">รายการ</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="btn btn-secondary" [routerLink]="['/staff/0']">
      เพิ่ม
    </a>

    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>รหัสผู้ใช้</th>
          <th>ชื่อ-นามสกุล</th>
          <th>อีเมล</th>
          <th>รหัสบัตรประชาชน</th>
          <th>เบอร์โทร</th>
          <th>วันที่เปิด/หมดอายุ</th>
          <th>สถานะ</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody *ngIf="data != null && data.length > 0">
        <tr *ngFor="let item of data">
          <td>{{item.username}}</td>
          <td>{{item.prefix}} {{item.firstname}} {{item.lastname}}</td>
          <td>{{item.email}}</td>
          <td>{{item.idcard}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.opendate}} - {{item.expirydate}}</td>
          <td>{{item.status}}</td>
          <td>
            <button class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnEdit(item.id)">
              แก้ไข
            </button>
            <button class="btn btn-danger btn-sm btn-icon icon-left" (click)="OnDelete(item.id)">
              ลบ
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="data == null || data.length == 0">
        <tr>
          <td colspan="8" class="text-center">ไม่พบข้อมูล</td>
        </tr>
      </tbody>

    </table>

  </div>
</div>

