<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">สรุปผลการสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <p>
                    นายประสงค์ กลิ่นดี
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  รหัสนักศึกษา 10200012
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <u>แบบทดสอบ</u>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  กลุ่มวิชา GREATS
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  วิชา G
                </div>
              </div>
            </div>
          </div>       
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <span class="text-danger">ท่านได้ทำข้อสอบไม่ครบในแบบทดสอบนี้ คือ 19/20 ข้อ</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <a href="#" class="btn btn-blue" [routerLink]="['/examination']">
                    กลับไปยังแบบทดสอบ
                  </a>
                  <a href="#" class="btn btn-orange" [routerLink]="['/examination-send-type']">
                    ยืนยันการส่งคำตอบ
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


