<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">สิ้นสุดการทำแบบทดสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="OnSubmit()">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <b>
                    {{useraccesdata.prefix}} {{useraccesdata.firstname}} {{useraccesdata.lastname}}
                  </b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  รหัสนักศึกษา <b>{{useraccesdata.studentcode}}</b>
</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <u>แบบทดสอบ</u>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  กลุ่มวิชา <b>{{group}}</b>
</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  วิชา <b>{{subject}}</b>
</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ทำข้อสอบไปทั้งหมดจำนวน <b>{{answeredcnt}}</b>/<b>{{questioncnt}}</b> ข้อ
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ประกาศผลที่เว็บไซต์ <a href="https://tu.ac.th/" target="_blank">www.tu.ac.th</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  กรุณาระบุช่องการส่งผลสอบ
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <label class="radio-inline">
                    <input type="radio" name="radio-4" checked #device1 value="email" (change)="ChooseOnchange(device1.value)">
                    อีเมล
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="radio-4" #device2 value="post" (change)="ChooseOnchange(device2.value)">
                    ไปรษณีย์
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="radio-4" #device3 value="other" (change)="ChooseOnchange(device3.value)">
                    อื่นๆ
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="divemail">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <input type="text" class="form-control"  id="email" name="email" formControlName="email">
                  <span class="text-danger" *ngIf="!inputForm.get('email').valid && inputForm.get('email').touched">
                    รูปแบบอีเมลไม่ถูกต้อง
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="divpost">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <textarea class="form-control" rows="3" id="address" name="address" formControlName="address"></textarea>
                  <span class="text-danger" *ngIf="!inputForm.get('address').valid && inputForm.get('address').touched">
                    กรุณาระบุที่อยู่
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-gray" (click)="OnBack()" *ngIf="timeremaining > 0">
                    กลับไปยังแบบทดสอบ
                  </button>
                  <button class="btn btn-orange" type="submit">
                    ส่งแบบทดสอบ
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


