<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">{{translate("finish")}}</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="OnSubmit()">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <b>
                    {{useraccesdata.prefix}} {{useraccesdata.firstname}} {{useraccesdata.lastname}}
                  </b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("student_code")}} <b>{{useraccesdata.studentcode}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <u>{{translate("test")}}</u>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("group")}} <b>{{group}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("subject")}} <b>{{subject}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("answered_count")}} <b [ngClass]="{'text-red':answeredcnt!=questioncnt}">{{answeredcnt}}</b>/<b>{{questioncnt}}</b>  {{translate("kho")}}
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row" *ngIf="allowsendbyemail == true || allowsendbypost == true || allowother == true">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("msg_required_send_result_type")}}
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="allowsendbyemail == true || allowsendbypost == true || allowother == true">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <div>
                    <label class="radio-inline" *ngIf="allowsendbyemail == true">
                      <input type="radio" name="radio-4" #device1 value="email" checked (change)="ChooseOnchange(device1.value)">
                      {{translate("email")}}
                    </label>
                    <label class="radio-inline" *ngIf="allowsendbypost == true">
                      <input type="radio" name="radio-4" #device2 value="post" checked (change)="ChooseOnchange(device2.value)">
                      {{translate("post")}}
                    </label>
                    <label class="radio-inline" *ngIf="allowother == true">
                      <input type="radio" name="radio-4" #device3 value="other" checked (change)="ChooseOnchange(device3.value)">
                      {{translate("other")}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="divemail">
            <div class="col-sm-12" *ngIf="allowsendbyemail == true">
              <div class="form-group">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="email" name="email" formControlName="email">
                  <span class="text-danger" *ngIf="!inputForm.get('email').valid && inputForm.get('email').touched">
                    {{translate("msg_invalid_format_email")}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="divpost">
            <div class="col-sm-12" *ngIf="allowsendbypost == true">
              <div class="form-group">
                <div class="col-sm-6">
                  <textarea class="form-control" rows="3" id="address" name="address" formControlName="address"></textarea>
                  <span class="text-danger" *ngIf="!inputForm.get('address').valid && inputForm.get('address').touched">
                    {{translate("msg_required_address")}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="divother">
            <div class="col-sm-12" *ngIf="allowother == true">
              <div class="form-group">
                <div class="col-sm-12">
                  {{description}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-gray" (click)="OnBack()" *ngIf="timeremaining > 0">
                    {{translate("back_to_exam")}}
                  </button>
                  <button class="btn btn-orange" type="submit">
                    {{translate("commit")}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


