<!-- Basic Setup -->
<div class="page-title">
  <div class="title-env">
    <h1 class="title">รอบสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">วันที่ <span class="text-red">*</span></label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control datepicker"  data-format="dd/mm/yyyy">
                    <div class="input-group-addon">
                      <a href=""><i class="linecons-calendar"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">รอบ <span class="text-red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control select2">
                    <option>เช้า</option>
                    <option>บ่าย</option>
                    <option>ค่ำ</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">กลุ่มวิชา <span class="text-red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control select2">
                    <option>GREATS</option>
                    <option>SMART WORK</option>
                    <option>SMART II</option>
                    <option>SMART PV</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">วิชา <span class="text-red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control select2" id="SubjectID">
                    <option>G</option>
                    <option>R</option>
                    <option>E</option>
                    <option>A</option>
                    <option>T</option>
                    <option>S</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                  <label class="radio-inline">
                    <input type="radio" name="radio-4" checked #device1 value="random" (change)="ChooseOnchange(device1.value)">
                    สุ่มแบบทดสอบ
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="radio-4" #device2 value="custom" (change)="ChooseOnchange(device2.value)">
                    กำหนดแบบทดสอบเอง
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div id="divrandom"></div>
          <div class="row" id="divcustom">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">แบบทดสอบ <span class="text-red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control select2">
                    <option>G0000001</option>
                    <option>G0000002</option>
                    <option>G0000003</option>
                    <option>G0000004</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-3">  </div>
                <div class="col-sm-9">
                  <button class="btn btn-danger" type="submit">
                    บันทึก
                  </button>
                  <a href="#" class="btn btn-gray" [routerLink]="['/exam-search']">
                    กลับ
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>

