<!-- Basic Setup -->
<div class="page-title">
  <div class="title-env">
    <h1 class="title">จัดตารางสอบอัตโนมัติ</h1>
    <p class="description">
      ระบบจะสร้างตารางสอบให้อัตโนมัติตามที่กำหนดค่าไว้ เพื่อเป็นตัวช่วยในการจัดตารางสอบ ทำให้เจ้าหน้าที่ไม่จำเป็นจะต้องมาจัดตารางสอบเองในทุกๆวัน
      <br />
      แต่หากตารางสอบบางวันมีความแตกต่างไปจากเดิม เจ้าหน้าที่ก็ยังสามารถเข้ามากำหนดค่าตารางสอบวันนั้นได้
    </p>
  </div>

</div>
<form role="form" class="form-horizontal">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">เช้า</h3>
      <div class="panel-options">

      </div>
    </div>
    <div class="panel-body">
      <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>
              <input type="checkbox" checked>
            </th>
            <th>กลุ่มวิชา</th>
            <th>วิชา</th>
            <th>แบบทดสอบ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>G</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>G00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>R</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>G00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>E</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>E00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>A</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>A00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>T</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>T00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>S</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>S00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>SMART II</td>
            <td>M</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>M00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>SMART II</td>
            <td>T</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>T00000001</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">บ่าย</h3>
      <div class="panel-options">

      </div>
    </div>
    <div class="panel-body">
      <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>
              <input type="checkbox" checked>
            </th>
            <th>กลุ่มวิชา</th>
            <th>วิชา</th>
            <th>แบบทดสอบ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>G</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>G00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>R</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>G00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>E</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>E00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>A</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>A00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>T</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>T00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>S</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>S00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>SMART II</td>
            <td>M</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>M00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>SMART II</td>
            <td>T</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>T00000001</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">ค่ำ</h3>
      <div class="panel-options">

      </div>
    </div>
    <div class="panel-body">
      <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>
              <input type="checkbox" checked>
            </th>
            <th>กลุ่มวิชา</th>
            <th>วิชา</th>
            <th>แบบทดสอบ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>G</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>G00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>R</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>G00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>E</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>E00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>A</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>A00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>T</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>T00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>GREATS</td>
            <td>S</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>S00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>SMART II</td>
            <td>M</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>M00000001</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>SMART II</td>
            <td>T</td>
            <td>
              <select class="form-control select2">
                <option>สุ่ม</option>
                <option>T00000001</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-danger" type="submit">
                    บันทึก
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</form>
