<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">สรุปการตรวจข้อสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <p>
                    นายประสงค์ กลิ่นดี
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  รหัสนักศึกษา 10200012
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <u>แบบทดสอบ</u>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  กลุ่มวิชา GREATS
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  วิชา G
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  เริ่มทำแบบดสอบ 10/10/209 10:30
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  เริ่มทำแบบดสอบ 10/10/209 11:02
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ทำข้อสอบจำนวน 20/20 ข้อ
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ตอบถูกจำนวน 15/20 ข้อ
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ผลคะแนน 15 คะแนน
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <a href="#" class="btn btn-danger" [routerLink]="['/grade-detail-search']">
                    ปิด
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


