<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">เลือกวิชาที่ต้องการเข้าสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">รายการ</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>กลุ่มวิชา</th>
          <th>วิชา</th>
          <th>แบบทดสอบ</th>
          <th>จำนวนข้อสอบ</th>
          <th>เวลา</th>
          <th class="action">ทำเข้าสอบ</th>
        </tr>
      </thead>
      <tbody *ngIf="data != null && data.length > 0">
        <tr *ngFor="let item of data">
          <td>{{item.group}}</td>
          <td>{{item.subject}}</td>
          <td>{{item.test}}</td>
          <td>{{item.questioncnt}}</td>
          <td>{{item.timelimit}} {{item.timelimittype}}</td>
          <td *ngIf="item.examingstatus == 0 ">
            <button href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnStart(item.id)">
              เริ่ม
            </button>
          </td>
          <td *ngIf="item.examingstatus == 1">
            <button href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnStart(item.id)">
              ทำข้อสอบต่อ
            </button>
          </td>
          <td *ngIf="item.examingstatus == 2">
            สิ้นสุดแบบทดสอบ
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="data == null || data.length == 0">
        <tr>
          <td colspan="6" class="text-center">ไม่พบข้อมูล</td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-gray" (click)="OnLogout()">
      ออกจากระบบ
    </a>
  </div>
</div>

