<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">{{translate("subject_select")}}</h1>
    <p class="description"></p>
  </div>

</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{translate("list")}}</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>{{translate("subject")}}</th>
          <th>{{translate("question_count")}}</th>
          <th>{{translate("time_limit")}}</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody *ngIf="data != null && data.length > 0">
        <tr *ngFor="let item of data">
          <td width="60%">
            <h5 style="text-decoration:underline">{{item.groupname}} - {{item.subject}}</h5>
            <br />
            {{item.subectdescription}}
          </td>
          <td>{{item.questioncnt}}</td>
          <td>{{item.timelimit}} {{translate(item.timelimittype)}}</td>
          <td *ngIf="item.examingstatus == 0 && item.allowexam == true">
            <button href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnStart(item.id)">
              {{translate("start")}}
            </button>
          </td>
          <td *ngIf="item.examingstatus == 0 && item.allowexam == false">
            
          </td>
          <td *ngIf="item.examingstatus == 1">
            <button href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnStart(item.id)">
              {{translate("continue")}}
            </button>
          </td>
          <td *ngIf="item.examingstatus == 2">
            {{translate("absent")}}
          </td>
          <td *ngIf="item.examingstatus == 3">
            {{translate("finish")}}
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="data == null || data.length == 0">
        <tr>
          <td colspan="6" class="text-center">{{translate("data_has_not_found")}}</td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-gray" (click)="OnLogout()">
      {{translate("logout")}}
    </a>
  </div>
</div>

