<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">เลือกวิชาที่ต้องการเข้าสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">รายการ</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>กลุ่มวิชา</th>
          <th>วิชา</th>
          <th>จำนวนข้อสอบ</th>
          <th>เวลา</th>
          <th class="action">ทำเข้าสอบ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GREATS</td>
          <td>G</td>
          <td>20</td>
          <td>30 นาที</td>
          <td>
            <a href="#" class="btn btn-blue btn-sm btn-icon icon-left" [routerLink]="['/examination']">
              เริ่ม
            </a>
          </td>
        </tr>
        <tr>
          <td>GREATS</td>
          <td>R</td>
          <td>20</td>
          <td>30 นาที</td>
          <td>
            <a href="#" class="btn btn-blue btn-sm btn-icon icon-left" [routerLink]="['/examination']">
              เริ่ม
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

