<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">เจ้าหน้าที่</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="OnSubmit()">
          <input type="hidden" class="form-control" id="userid" name="userid" formControlName="userid">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">รหัสผู้ใช้ <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="username" name="username" formControlName="username" maxlength="250" readonly>
                  <span class="text-danger" *ngIf="!inputForm.get('username').valid && inputForm.get('username').touched">
                    กรุณาระบุรหัสผู้ใช้
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">คำนำหน้า <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="prefix" name="prefix" formControlName="prefix">
                    <option *ngFor="let item of prefixlist" value="{{item.value}}">{{item.text}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('prefix').valid && inputForm.get('prefix').touched">
                    กรุณาระบุคำนำหน้า
                  </span>
                </div>
                <label class="col-sm-2 control-label">สถานะ <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="status" name="status" formControlName="status">
                    <option *ngFor="let item of statuslist" value="{{item.value}}">{{item.text}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('status').valid && inputForm.get('status').touched">
                    กรุณาระบุสถานะ
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">ชื่อ <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" maxlength="250">
                  <span class="text-danger" *ngIf="!inputForm.get('firstname').valid && inputForm.get('firstname').touched">
                    กรุณาระบุชื่อ
                  </span>
                </div>
                <label class="col-sm-2 control-label">นามสกุล <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" maxlength="250">
                  <span class="text-danger" *ngIf="!inputForm.get('lastname').valid && inputForm.get('lastname').touched">
                    กรุณาระบุนามสกุล
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">เลขประจำตัวประชาชน <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="idcard" name="idcard" formControlName="idcard" maxlength="14">
                  <span class="text-danger" *ngIf="!inputForm.get('idcard').valid && inputForm.get('idcard').touched">
                    กรุณาระบุเลขประจำตัวประชาชน
                  </span>
                </div>
                <label class="col-sm-2 control-label">อีเมล</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="email" name="email" formControlName="email" maxlength="100">
                  <div class="text-danger" *ngIf="!inputForm.get('email').valid && inputForm.get('email').touched">
                    รูปแบบอีเมลไม่ถูกต้อง
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">เบอร์โทร</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" maxlength="10">
                </div>
                <label class="col-sm-2 control-label">เบอร์โทรสำรอง</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="phone2" name="phone2" formControlName="phone2" maxlength="10">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">วันที่เปิดใช้งาน</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control datepicker" id="opendate" name="opendate" formControlName="opendate" data-format="dd/mm/yyyy">
                    <div class="input-group-addon">
                      <a href=""><i class="linecons-calendar"></i></a>
                    </div>
                  </div>
                </div>
                <label class="col-sm-2 control-label">วันที่ปิดการใช้งาน</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control datepicker" id="expirydate" name="expirydate" formControlName="expirydate" data-format="dd/mm/yyyy">
                    <div class="input-group-addon">
                      <a href=""><i class="linecons-calendar"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">สิทธิ์ <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <label>
                    <input type="checkbox" id="isadmin" name="isadmin" formControlName="isadmin">
                    เจ้าหน้าที่ทั่วไป (Administrator)
                  </label>
                  <br />
                  <label>
                    <input type="checkbox" id="ismasteradmin" name="ismasteradmin" formControlName="ismasteradmin">
                    เจ้าหน้าที่พิเศษ (Master Administrator)
                  </label>
                  <br />
                  <label>
                    <input type="checkbox" id="isquestionappr" name="isquestionappr" formControlName="isquestionappr">
                    ผู้กลั่นกรองข้อสอบ (Question Approval)
                  </label>
                  <br />
                  <label>
                    <input type="checkbox" id="ismasterquestionappr" name="ismasterquestionappr" formControlName="ismasterquestionappr">
                    ผู้กลั่นกรองข้อสอบพิเศษ (Master Question Approval)
                  </label>
                  <br />
                  <label>
                    <input type="checkbox" id="istestappr" name="istestappr" formControlName="istestappr">
                    ผู้คัดเลือกแบบทดสอบ (Test Approval)
                  </label>
                  <br />
                  <label>
                    <input type="checkbox" id="ismastertestappr" name="ismastertestappr" formControlName="ismastertestappr">
                    ผู้คัดเลือกแบบทดสอบพิเศษ (Master Approval)
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                  <button class="btn btn-danger" type="submit">
                    บันทึก
                  </button>
                  <button href="#" class="btn btn-blue"  (click)="OnReset()" *ngIf="id != null && id > 0">
                    เปลี่ยนรหัสผ่าน
                  </button>
                  <a href="#" class="btn btn-blue" (click)="OnHistory()" target="_blank" *ngIf="id != null && id > 0">
                    ประวัติการเข้า-ออกจากระบบ
                  </a>
                  <a href="#" class="btn btn-gray" [routerLink]="['/staff-search']">
                    กลับ
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




