<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">ตารางสอบ</h1>
    <p class="description"></p>
  </div>

</div>

<section class="calendar-env">

  <div class="col-sm-9">

    <div class="calendar-main">

      <div id="calendar"></div>

    </div>

  </div>

  <div class="col-sm-3 ">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">วันที่ 10/09/2019</h3>
            <div class="panel-options">
            </div>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">รอบ</label>
                    <select class="form-control select2">
                      <option>เช้า</option>
                      <option>บ่าย</option>
                      <option>ค่ำ</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">กลุ่มวิชา</label>
                    <select class="form-control select2">
                      <option>GREATS</option>
                      <option>SMART WORK</option>
                      <option>SMART II</option>
                      <option>SMART PV</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">วิชา</label>
                    <select class="form-control select2" id="SubjectID">
                      <option>G</option>
                      <option>R</option>
                      <option>E</option>
                      <option>A</option>
                      <option>T</option>
                      <option>S</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">แบบทดสอบ</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="radio-inline">
                      <input type="radio" name="radio-4" checked #device1 value="random" (change)="ChooseOnchange(device1.value)">
                      สุ่ม
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="radio-4" #device2 value="custom" (change)="ChooseOnchange(device2.value)">
                      กำหนดเอง
                    </label>
                  </div>
                </div>
              </div>
              <div id="divramdom"></div>
              <div id="divcustom">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label">แบบทดสอบ</label>
                      <select class="form-control select2">
                        <option>G0000001</option>
                        <option>G0000002</option>
                        <option>G0000003</option>
                        <option>G0000004</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <button class="btn btn-danger btn-block" type="submit">
                        บันทึก
                      </button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>


    </div>
    

  </div>

</section>
