<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">ตรวจข้อสอบ</h1>
    <p class="description"></p>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">รายละเอียด</h3>
        <div class="panel-options">
        </div>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <label class="control-label">วันที่เข้าสอบ</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{examdate}}</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">รอบ</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{examperiod}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <label class="control-label">กลุ่มวิชา</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{group}}</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">วิชา</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{subject}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <label class="control-label">จำนวนผู้เข้าสอบ</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{examregistercnt}} คน</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <label class="control-label">ตรวจแล้ว</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{provedcnt}} คน</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">รอตรวจสอบ</label>
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{unprovedcnt}} คน</label>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>


</div>
<div class="row" *ngIf="data != null && data.length > 0">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">การค้นหา</h3>
        <div class="panel-options">
        </div>
      </div>
      <div class="panel-body">
        <form role="form" [formGroup]="SearchFrom" (ngSubmit)="OnSubmit()">
          <div class="row">
            <div class="form-group">
              <div class="col-sm-9">
                <label class="control-label">ค้นหาจาก</label>
                <input type="text" class="form-control" id="text_search" name="text_search" formControlName="text_search" placeholder="ชื่อ นามสกุล รหัสนักศึกษา รหัสประจำตัวประชาชน Passport อีเมล เบอร์โทร">
              </div>
              <div class="col-sm-2">
                <label class="control-label">สถานะ</label>
                <select class="form-control" id="status_search" name="status_search" formControlName="status_search">
                  <option></option>
                  <option *ngFor="let item of statuslist" value="{{item.value}}">{{item.text}}</option>
                </select>
              </div>

              <div class="col-sm-1">
                <button class="btn btn-blue btn-search btn-block" type="submit">
                  ค้นหา
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>


</div>
<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">รายการ</h3>
    <div class="panel-options">
    </div>
  </div>
  <div class="panel-body">
    <!--<a href="#" class="btn btn-blue">
      พิมพ์ผลสอบ
    </a>
    <a href="#" class="btn btn-blue">
      ส่งผลสอบทางอีเมล
    </a>-->
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <!--<th> <input type="checkbox"></th>-->
          <th>รหัสนักศึกษา</th>
          <th>ชื่อ-นามสกุล</th>
          <th>คะแนน</th>
          <th>สถานะ</th>
          <th>ส่งผลสอบด้วย</th>
          <!--<th>อีเมล</th>
          <th>ที่อยู่</th>-->
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="data != null && data.length > 0">
        <tr *ngFor="let item of data">
          <!--<td>
            <input type="checkbox">
          </td>-->
          <td>{{item.studentcode}}</td>
          <td>{{getStudentName(item.prefix,item.firstname,item.lastname, item.firstnameen, item.lastnameen)}}</td>
          <td>{{item.point}}</td>
          <td>{{item.examingstatus}}</td>
          <td>
            {{getsendtype(item.sendbyemail,item.sendbypost,item.other)}}
            <br />
            {{item.email}}
            <br />
            {{item.address}}
          </td>
          <td>
            <!--<a href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnPdf(item.id)" target="_blank">
              พิมพ์
            </a>-->
            <!--<button href="#" class="btn btn-blue btn-sm btn-icon icon-left">
              อีเมล
            </button>-->
            <button href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnProve(item.id)" *ngIf="item.provestatus == 0">
              ตรวจ
            </button>
            <button href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnProve(item.id)" *ngIf="item.provestatus == 1">
              ดู
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="data == null || data.length == 0">
        <tr>
          <td colspan="7" class="text-center">ไม่พบข้อมูล</td>
        </tr>
      </tbody>      
    </table>
    <a href="#" class="btn btn-gray" [routerLink]="['/grade-search']">
      กลับ
    </a>
  </div>
</div>

