<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">ยินดีต้อนรับเข้าสู่ระบบคลังข้อสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ข้อสอบรอการกลั่นกรอง</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ข้อสอบ</th>
          <th>กลุ่มวิชา</th>
          <th>วิชา</th>
          <th>วิชาย่อย</th>
          <th>ผู้มีสิทธิ์กลั่นกรอง</th>
          <th>กลั่นกรองแล้ว</th>
          <th>ระยะเวลากลั่นกรอง</th>
          <th>สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Q0001</td>
          <td>GREATS</td>
          <td>G</td>
          <td>G1</td>
          <td>5</td>
          <td>2</td>
          <td>01/01/2019 - 31/01/2019</td>
          <td>รอการกลั่นกรอง</td>
          <td>
            <a href="#" class="btn btn-blue btn-sm btn-icon icon-left"  [routerLink]="['/question-multi-choice']">
              ดูข้อสอบ
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-right">
            <ul class="pagination">
              <li><a href="#"><i class="fa-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="fa-angle-right"></i></a></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ข้อสอบไม่ผ่านการกลั่นกรอง</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ข้อสอบ</th>
          <th>กลุ่มวิชา</th>
          <th>วิชา</th>
          <th>วิชาย่อย</th>
          <th>ผู้มีสิทธิ์กลั่นกรอง</th>
          <th>กลั่นกรองแล้ว</th>
          <th>ไม่ให้ผ่าน</th>
          <th>ระยะเวลากลั่นกรอง</th>
          <th>สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Q0001</td>
          <td>GREATS</td>
          <td>G</td>
          <td>G1</td>
          <td>5</td>
          <td>2</td>
          <td>3</td>
          <td>01/01/2019 - 31/01/2019</td>
          <td>ไม่ผ่าน</td>
          <td>
            <a href="#" class="btn btn-blue btn-sm btn-icon icon-left" [routerLink]="['/question-multi-choice']">
              ดูข้อสอบ
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="10" class="text-right">
            <ul class="pagination">
              <li><a href="#"><i class="fa-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="fa-angle-right"></i></a></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">แบบทดสอบรอการคัดเลือก</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>แบบทดสอบ</th>
          <th>กลุ่มวิชา</th>
          <th>วิชา</th>
          <th>ผู้มีสิทธิ์คัดเลือก</th>
          <th>คัดเลือกแล้ว</th>
          <th>ระยะเวลาคัดเลือก</th>
          <th>สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>G000001</td>
          <td>GREATS</td>
          <td>G</td>
          <td>5</td>
          <td>2</td>
          <td>01/01/2019 - 31/01/2019</td>
          <td>รอการคัดเลือก</td>
          <td>
            <a href="#" class="btn btn-blue btn-sm btn-icon icon-left"  [routerLink]="['/test']">
              ดูแบบทดสอบ
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" class="text-right">
            <ul class="pagination">
              <li><a href="#"><i class="fa-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="fa-angle-right"></i></a></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">แบบทดสอบไม่ผ่านการคัดเลือก</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>แบบทดสอบ</th>
          <th>กลุ่มวิชา</th>
          <th>วิชา</th>
          <th>ผู้มีสิทธิ์คัดเลือก</th>
          <th>คัดเลือกแล้ว</th>
          <th>ไม่ให้ผ่าน</th>
          <th>ระยะเวลาคัดเลือก</th>
          <th>สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>G000001</td>
          <td>GREATS</td>
          <td>G</td>
          <td>5</td>
          <td>2</td>
          <td>3</td>
          <td>01/01/2019 - 31/01/2019</td>
          <td>ไม่ผ่าน</td>
          <td>
            <a href="#" class="btn btn-blue btn-sm btn-icon icon-left" [routerLink]="['/test']">
              ดูแบบทดสอบ
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-right">
            <ul class="pagination">
              <li><a href="#"><i class="fa-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="fa-angle-right"></i></a></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
<!--<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">แบบทดสอบที่คัดเลือกแล้ว</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>แบบทดสอบ</th>
          <th>วิชา</th>
          <th>ผู้มีสิทธิ์คัดเลือก</th>
          <th>คัดเลือกแล้ว</th>
          <th>วันที่เปิดคัดเลือก</th>
          <th>คัดเลือกได้ถึง</th>
          <th>สถานะ</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>G000001</td>
          <td>G</td>
          <td>5</td>
          <td>2</td>
          <td>01/01/2019</td>
          <td>31/01/2019</td>
          <td>คัดเลือกแล้ว</td>
          <td>
            <a href="#" class="btn btn-blue btn-sm btn-icon icon-left">
              ดูแบบทดสอบ
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" class="text-right">
            <ul class="pagination">
              <li><a href="#"><i class="fa-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="fa-angle-right"></i></a></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>-->
