<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">กลุ่มวิชา</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">การค้นหา</h3>
        <div class="panel-options">
        </div>
      </div>
      <div class="panel-body">
        <form role="form" [formGroup]="SearchFrom" (ngSubmit)="OnSubmit()">
          <div class="row">

            <div class="form-group">
              <div class="col-sm-9">
                <label class="control-label">ค้นหาจาก</label>
                <input type="text" class="form-control" id="text_search" name="text_search" placeholder="ชื่อกลุ่มวิชา" formControlName="text_search" maxlength="1000">
              </div>
              <div class="col-sm-2">
                <label class="control-label">สถานะ</label>
                <select class="form-control" id="status_search" name="status_search" formControlName="status_search">
                  <option></option>
                  <option *ngFor="let item of statuslist" value="{{item.value}}">{{item.text}}</option>
                </select>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-blue btn-search btn-block" type="submit">
                  ค้นหา
                </button>
              </div>
            </div>

          </div>

        </form>

      </div>
    </div>

  </div>


</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">รายการ</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="btn btn-secondary" [routerLink]="['/subjectgroup/0']">
      เพิ่ม
    </a>


    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>กลุ่มวิชา</th>
          <th>ผู้แก้ไข</th>
          <th>วันที่แก้ไข</th>
          <th>สถานะ</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody *ngIf="data != null && data.length > 0">
        <tr *ngFor="let item of data">
          <td>{{item.name}}</td>
          <td>{{item.update_by}}</td>
          <td>{{item.update_on}}</td>
          <td>{{item.status}}</td>
          <td >
            <button class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnEdit(item.id)" *ngIf="item.name != 'GREATS'">
              แก้ไข
            </button>
            <button class="btn btn-danger btn-sm btn-icon icon-left" (click)="OnDelete(item.id)" *ngIf="item.name != 'GREATS'">
              ลบ
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="data == null || data.length == 0">
        <tr>
          <td colspan="5" class="text-center">ไม่พบข้อมูล</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

