<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">{{getStudentName(prefix, firstname, lastname, firstnameen, lastnameen)}}</h1>
    <p class="description">ข้อที่ {{ix}}/{{questioncnt}}</p>
    <h4>ได้ <b [ngClass]="{'text-success':point > 0}">{{point}}</b> คะแนน</h4>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li class="text-right">
        ทำข้อสอบทั้งหมด <b>{{answeredcnt}}</b>/{{questioncnt}} ข้อ
        <h4>คะแนนรวม <b [ngClass]="{'text-success':totalpoint > 0}">{{totalpoint}}</b> คะแนน</h4>
      </li>
    </ol>

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <p [innerHTML]="questionth"> </p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="questiontype == 1">
            <div class="row" *ngFor="let item of answers">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="col-sm-1" *ngIf="answerid == item.id">
                    <input type="radio" class="rdo" name="rdo" value="{{item.id}}" checked disabled>
                  </div>
                  <div class="col-sm-1" *ngIf="answerid != item.id">
                    <input type="radio" class="rdo" name="rdo" value="{{item.id}}" disabled>
                  </div>
                  <div class="col-sm-11">
                    <p [innerHTML]="item.answerth"> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <ul class="pagination">
                    <li><a href="#" (click)="OnBack()"><i class="fa-angle-left"></i></a></li>
                    <li *ngFor="let item of getPaginationArray()" [ngClass]="{'active':item==ix}">
                      <a href="#" (click)="OnPageChange(item)">{{item}}</a>
                    </li>
                    <li><a href="#" (click)="OnNext()"><i class="fa-angle-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <button  class="btn btn-gray" (click)="OnBacktoMain()">
                    กลับ
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


