<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">ผู้เข้าสอบ</h1>
    <p class="description"></p>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">การค้นหา</h3>
        <div class="panel-options">
        </div>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="row">
            <div class="form-group">
              <div class="col-sm-9">
                <label class="control-label">ค้นหาจาก</label>
                <input type="text" class="form-control" id="text_search" placeholder="ชื่อ นามสกุล รหัสนักศึกษา รหัสประจำตัวประชาชน Passport อีเมล">
              </div>
              <div class="col-sm-2">
                <label class="control-label">สถานะ</label>
                <select class="form-control select2" id="Status">
                  <option></option>
                  <option>ใช้งาน</option>
                  <option>ยกเลิก</option>
                </select>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-blue btn-search btn-block" type="submit">
                  ค้นหา
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-4">
                <label class="control-label">คณะ</label>
                <select class="form-control select2" id="FacultyID">
                  <option></option>
                </select>
              </div>
              <div class="col-sm-2">
                <label class="control-label">หลักสูตร</label>
                <select class="form-control select2" id="LangID">
                  <option></option>
                  <option>ไทย</option>
                  <option>อังกฤษ</option>
                </select>
              </div>
            </div>
          </div>
          
        </form>

      </div>
    </div>

  </div>


</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">รายการ</h3>
    <div class="panel-options">

    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="btn btn-secondary" [routerLink]="['/student']">
      เพิ่ม
    </a>

    <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>รหัสนักศึกษา</th>
          <th>ชื่อ-นามสกุล</th>
          <th>คณะ</th>
          <th>หลักสูตร</th>
          <th>สถานะ</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10002542</td>
          <td>นาย ประสงค์ กลิ่นดี</td>
          <td>แพทยศาสตร์</td>
          <td>ไทย</td>
          <td>ใช้งาน</td>
          <td>
            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
              แก้ไข
            </a>
            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
              ลบ
            </a>
          </td>
        </tr>
        <tr>
          <td>10002543</td>
          <td>น.ส. ดวงใจ ดวงดาว</td>
          <td>แพทยศาสตร์</td>
          <td>ไทย</td>
          <td>ใช้งาน</td>
          <td>
            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
              แก้ไข
            </a>
            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
              ลบ
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="text-right">
            <ul class="pagination">
              <li><a href="#"><i class="fa-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#"><i class="fa-angle-right"></i></a></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

