<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">วิชา</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="OnSubmit()">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">ลำดับการทำข้อสอบ <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="order" name="order" formControlName="order" readonly>
                  <span class="text-danger" *ngIf="!inputForm.get('order').valid && inputForm.get('order').touched">
                    กรุณาระบุลำดับการทำข้อสอบ
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">ชื่อวิชา <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="name" name="name" formControlName="name" maxlength="250">
                  <span class="text-danger" *ngIf="!inputForm.get('name').valid && inputForm.get('name').touched">
                    กรุณาระบุชื่อวิชา
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">คำอธิบาย</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="description" name="description" formControlName="description" maxlength="250">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">กลุ่มวิชา <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="groupid" name="groupid" formControlName="groupid" (change)="OnGroupChange()">
                    <option *ngFor="let item of grouplist" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('groupid').valid && inputForm.get('groupid').touched">
                    กรุณาระบุกลุ่มวิชา
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">สถานะ <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="status" name="status" formControlName="status">
                    <option *ngFor="let item of statuslist" value="{{item.value}}">{{item.text}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('status').valid && inputForm.get('status').touched">
                    กรุณาระบุสถานะ
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-danger" type="submit">
                    บันทึก
                  </button>
                  <a href="#" class="btn btn-gray" [routerLink]="['/subject-search']">
                    กลับ
                  </a>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>


