<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">ตั้งรหัสผ่านใหม่</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="OnSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">รหัสผ่านใหม่</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="รหัสผ่านใหม่">
                  <span class="text-danger" *ngIf="!inputForm.get('password').valid && inputForm.get('password').touched">
                    กรุณาระบุรหัสผ่านใหม่
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label class="col-sm-3 control-label">ยืนยันรหัสผ่าน</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" formControlName="confirmpassword" placeholder="ยืนยันรหัสผ่าน">
                  <span class="text-danger" *ngIf="!inputForm.get('confirmpassword').valid && inputForm.get('confirmpassword').touched">
                    กรุณาระบุยืนยันรหัสผ่าน
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                  <button class="btn btn-danger" type="submit">
                    บันทึก
                  </button>
                  <a href="#" class="btn btn-gray" (click)="OnProfile()">
                    กลับ
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


