<!-- Basic Setup -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="page-title">

  <div class="title-env">
    <h1 class="title">ข้อสอบแบบเลือกตอบ (Multiple Choice)</h1>
    <p class="description"></p>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="OnSubmit(false)">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">รหัสข้อสอบ</label>
                <div class="col-sm-4">
                  <input class="form-control " id="questioncode" name="questioncode" formControlName="questioncode" readonly />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">กลุ่มวิชา <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="groupid" name="groupid" formControlName="groupid" (change)="OnGroupChange()">
                    <option *ngFor="let item of grouplist" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('groupid').valid && inputForm.get('groupid').touched">
                    กรุณาระบุกลุ่มวิชา
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">วิชา <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="subjectid" name="subjectid" formControlName="subjectid" (change)="OnSubjectChange()">
                    <option *ngFor="let item of subjectlist" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('subjectid').valid && inputForm.get('subjectid').touched">
                    กรุณาระบุวิชา
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">วิชาย่อย <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="subid" name="subid" formControlName="subid">
                    <option *ngFor="let item of sublist" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('subid').valid && inputForm.get('subid').touched">
                    กรุณาระบุวิชาย่อย
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">หลักสูตร <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="courseth" name="courseth" value="true" formControlName="courseth">
                    ไทย
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="courseen" name="courseen" value="true" formControlName="courseen">
                    อังกฤษ
                  </label>
                  <div>
                    <span class="text-danger" *ngIf="!inputForm.get('courseth').valid && inputForm.get('courseth').touched">
                      กรุณาระบุหลักสูตร
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">คำถาม(ไทย)</label>
                <div class="col-sm-10">
                  <textarea class="form-control ckeditor" rows="5" id="questionth" name="questionth" formControlName="questionth"></textarea>
                  <span class="text-danger" *ngIf="!inputForm.get('questionth').valid && inputForm.get('questionth').touched">
                    กรุณาระบุคำถาม(ไทย) หรือ คำถาม(อังกฤษ)
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">คำถาม(อังกฤษ)</label>
                <div class="col-sm-10">
                  <textarea class="form-control ckeditor" rows="5" id="questionen" name="questionen" formControlName="questionen"></textarea>
                  <span class="text-danger" *ngIf="!inputForm.get('questionen').valid && inputForm.get('questionen').touched">
                    กรุณาระบุคำถาม(ไทย) หรือ คำถาม(อังกฤษ)
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">ไฟล์คำถาม</label>
                <div class="col-sm-4">
                  <input type="file" class="form-control">
                </div>
                <label class="col-sm-2 control-label">คำค้นหา (Keyword)</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="keyword" name="keyword" formControlName="keyword">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">ระดับความยาก <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="questionlevel" name="questionlevel" formControlName="questionlevel">
                    <option *ngFor="let item of levellist" value="{{item.value}}">{{item.text}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('groupid').valid && inputForm.get('groupid').touched">
                    กรุณาระบุระดับความยาก
                  </span>

                </div>
                <label class="col-sm-2 control-label">เวลาที่อนุญาตให้ทำข้อสอบ</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="timelimit" name="timelimit" formControlName="timelimit">
                </div>
                <div class="col-sm-2">
                  <select class="form-control" id="timelimittype" name="timelimittype" formControlName="timelimittype">
                    <option *ngFor="let item of timetypelist" value="{{item.value}}">{{item.text}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">สถานะ <span class="text-red">*</span></label>
                <div class="col-sm-4">
                  <select class="form-control" id="status" name="status" formControlName="status">
                    <option *ngFor="let item of statuslist" value="{{item.value}}">{{item.text}}</option>
                  </select>
                  <span class="text-danger" *ngIf="!inputForm.get('groupid').valid && inputForm.get('groupid').touched">
                    กรุณาระบุสถานะ
                  </span>
                </div>
                <label class="col-sm-2 control-label">สถานะการกลั่นกรอง</label>
                <div class="col-sm-4">
                  <select class="form-control" id="approvalstatus" name="approvalstatus" formControlName="approvalstatus">
                    <option *ngFor="let item of approvelist" value="{{item.value}}">{{item.text}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">หมายเหตุ</label>
                <div class="col-sm-4">
                  <textarea class="form-control " id="remark" name="remark" formControlName="remark" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <button class="btn btn-secondary" type="button" (click)="OnAnsAdd()">
                    เพิ่มคำตอบ
                  </button>
                  <table class="table table-bordered table-striped" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>ลำดับ</th>
                        <th>คำตอบ(ไทย)</th>
                        <th>คำตอบ(อังกฤษ)</th>
                        <th>อธิบาย</th>
                        <th>คะแนน</th>
                        <th class="action"></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="ansdata != null && ansdata.length > 0">
                      <tr *ngFor="let item of ansdata">
                        <td>{{item.order}}</td>
                        <td>{{convert_html_to_string(item.answerth)}}</td>
                        <td>{{convert_html_to_string(item.answeren)}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.point}}</td>
                        <td>
                          <a href="#" class="btn btn-blue btn-sm btn-icon icon-left" (click)="OnAnsEdit(item.id)">
                            แก้ไข
                          </a>
                          <a href="#" class="btn btn-danger btn-sm btn-icon icon-left" (click)="OnAnsDelete(item.id)">
                            ลบ
                          </a>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="ansdata == null || ansdata.length == 0">
                      <tr>
                        <td colspan="6" class="text-center">ไม่พบข้อมูล</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <button class="btn btn-danger" type="submit">
                    บันทึก
                  </button>
                  <a href="#" class="btn btn-blue">
                    ดูตัวอย่างการแสดงผล
                  </a>
                  <a href="#" class="btn btn-blue">
                    ส่งให้กลั่นกรอง
                  </a>
                  <a href="#" class="btn btn-gray" [routerLink]="['/question-search']">
                    กลับ
                  </a>
                </div>
              </div>
            </div>
          </div>




        </form>

      </div>
    </div>

  </div>


</div>

<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-6">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal Content is Responsive</h4>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="field-1" class="control-label">Name</label>

              <input type="text" class="form-control" id="field-1" placeholder="John">
            </div>

          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label for="field-2" class="control-label">Surname</label>

              <input type="text" class="form-control" id="field-2" placeholder="Doe">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label for="field-3" class="control-label">Address</label>

              <input type="text" class="form-control" id="field-3" placeholder="Address">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <div class="form-group">
              <label for="field-4" class="control-label">City</label>

              <input type="text" class="form-control" id="field-4" placeholder="Boston">
            </div>

          </div>

          <div class="col-md-4">

            <div class="form-group">
              <label for="field-5" class="control-label">Country</label>

              <input type="text" class="form-control" id="field-5" placeholder="United States">
            </div>

          </div>

          <div class="col-md-4">

            <div class="form-group">
              <label for="field-6" class="control-label">Zip</label>

              <input type="text" class="form-control" id="field-6" placeholder="123456">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group no-margin">
              <label for="field-7" class="control-label">Personal Info</label>

              <textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself"></textarea>
            </div>

          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Save changes</button>
      </div>
    </div>
  </div>
</div>


