<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">สรุปผลการสอบ</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                    <b>{{useraccesdata.prefix}} {{useraccesdata.firstname}} {{useraccesdata.lastname}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  รหัสนักศึกษา <b>{{useraccesdata.studentcode}}</b>
</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <u>แบบทดสอบ</u>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  กลุ่มวิชา <b>{{group}}</b>
</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  วิชา <b>{{subject}}</b>
</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  เริ่มทำแบบดสอบ <b>{{starton}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ส่งแบบดสอบ <b>{{endon}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ทำข้อสอบไปทั้งหมดจำนวน <b>{{answeredcnt}}</b>/<b>{{questioncnt}}</b> ข้อ
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ตอบถูกจำนวน <b>{{correctcnt}}</b>/<b>{{questioncnt}}</b> ข้อ
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  ผลคะแนน <b>{{point}}</b> คะแนน
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <a href="#" class="btn btn-orange" [routerLink]="['/examination-select']">
                    ปิดแบบทดสอบ
                  </a>
                  <a href="#" class="btn btn-gray" (click)="OnLogout()">
                    ออกจากระบบ
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


