<!-- Basic Setup -->
<div class="page-title">

  <div class="title-env">
    <h1 class="title">{{translate("summary")}}</h1>
    <p class="description"></p>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <b>{{useraccesdata.prefix}} {{useraccesdata.firstname}} {{useraccesdata.lastname}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("student_code")}} <b>{{useraccesdata.studentcode}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <u>{{translate("test")}}</u>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("group")}} <b>{{group}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("subject")}} <b>{{subject}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("start_at")}} <b>{{starton}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("finish_at")}} <b>{{endon}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("answered_count")}} <b>{{answeredcnt}}</b>/<b>{{questioncnt}}</b> {{translate("kho")}}
                </div>
              </div>
            </div>
          </div>
          <div class="row"  *ngIf="showresult == 0">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("corrected_count")}} <b>{{correctcnt}}</b>/<b>{{questioncnt}}</b> {{translate("kho")}}
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showresult == 0">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("score")}} <b>{{point}}</b> {{translate("point")}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-12">
                  {{translate("send_chanel")}} <b>{{sendtype}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <a href="#" class="btn btn-orange" [routerLink]="['/examination-select']">
                    {{translate("close_exam")}}
                  </a>
                </div>
                <div class="col-sm-6 text-right">
                  <a href="#" class="btn btn-gray" (click)="OnLogout()">
                    {{translate("logout")}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>


